body {
	background: #111 !important;
	color: #aaa !important;
}

a, a:visited, .sc-link-dark, .soundContext__usernameLink, .localeSelector__cancel, .localeSelectorContent__listItem, .sc-font {
	color: #ddd !important;
}
a:hover {
	color: #fff !important;
}


/* menus */
.g-dark, .g-dark-bg, .profileMenu__list {
	background: #222 !important;
}

.headerSearch__input {
	background: #000 !important;
}


/* stream - likes/reblogs/etc bar */
.sc-button-toolbar {
	//background: #111 !important;
}
.sc-button-group button, .sc-button-medium, .sc-button-small, .inlineError.sc-button {
	background: #000;
	color: #ddd;
	border-color: #aaa;
}
.sc-button-group button:hover, .sc-button-group button:focus, .inlineError.sc-button:hover {
	color: #fff !important;
	border-color: #f30 !important;
}

.moreMenu__goUpsell {
	color: #f30 !important;
}


/* stream - tracks */
.sc-link-light:hover {
	background: #222 !important;
}
.compactTrackListItem__trackTitle {
	color: #ddd !important;
}
.compactTrackListItem.active, .clickToPlay.active {
	background: #333 !important;
}
.sc-border-light, .sc-border-light-bottom, .sc-border-light-tops, .sc-border-box {
	border-color: #555 !important;
}

.searchTitle, .listenAttributes__attribute:hover {
	background: #111 !important;
}

.listenEngagement {
	border-color: transparent !important;
}
.truncatedAudioInfo__wrapper::after, .paging-eof, .truncatedUserDescription__content::after, .editTrackItem__additional {
	filter: invert(100%);
}

.commentPopover__wrapper {
	color: #fff !important;
}
.m-isReply.m-creatorComment {
	background: #333 !important;
}


/* modals */
.modalWhiteout, .modal, .g-z-index-modal-background, .showBackground {
	background: rgba(0,0,0,0.9) !important;
}

.modal__modal, .tabs__tabs, .g-modal-section {
	background: #222 !important;
}
.sc-input, .tokenInput__input {
	background: #111 !important;
	color: #ddd !important;
}
.recipientChooser__name {
	color: #222 !important;
}

.localeSelectorContent {
	background: #222 !important;
	color: #aaa !important;
}
.localeSelector__cancel {
	color: #ddd !important;
}


/* profile page */
.dropbar__content {
	background: #222 !important;
}
.relativeTime span, .soundTitle__uploadTime, .soundTitle__uploadTime span {
	background: transparent !important;
}
.statsBadge__upsell-text span {
	color: #ddd !important;
}

.profileHeaderInfo:hover {
	background: transparent !important;
}

.g-tabs {
	border-color: #aaa !important;
}
.g-tabs-link {
	border-color: #aaa !important;
}
.g-tabs-link:hover {
	border-color: #f30 !important;
}
.g-tabs-link .active {
	color: #f30 !important;
}

.dialog, .roundedDialog__centertop, .dialog__arrow {
	background: #222 !important;
	color: #ddd !important;
}

.moreActions__button:hover {
	background: #333 !important;
}

.truncatedUserDescription__wrapper::after {
	background: linear-gradient(to-top, #111, rgba(0,0,0,0)), #111 !important;
}

.moreActions__group {
	border-color: #555 !important;
}


/* collection page */
.readMoreTile__countWrapper {
	background: rgba(0,0,0,0.8) !important;
}
.linkMenu__list {
	background: #222 !important;
	color: #ddd !important;
	border-color: #222 !important;
}


/* playlists */
.trackItem.hover, .trackItem.active, .chartTrack:hover, .m-playing {
	background: #333 !important;
}
.soundTitle {
	background: transparent !important;
}
.trackItem__additional {
	background: rgba(0,0,0,0.5) !important;
}

.m-upcoming:hover {
	background: #333 !important;
}
.removeFromNextUp::before {
	filter: invert(100%);
}


/* player */
.playControls__inner, .playControls__bg {
	border-color: #555 !important;
	background: #222 !important;
	color: #ddd !important;
}
.playControls__control, .volume__button, .playbackSoundBadge__showQueue, .sc-button::before, .queue__hide {
	filter: invert(100%);
}

.sc-button-play::before {
	filter: invert(0%);
}

.playbackTimeline__duration {
	color: #aaa !important;
}
.volume__sliderWrapper {
	background: #222 !important;
}

.visualSound__wrapper {
	background: #111 !important;
}

.commentForm__wrapper {
	background: #222 !important;
	border-color: #aaa !important;
}
.commentForm__input {
	background: #111 !important;
	color: #ddd !important;
}

.commentPopover__wrapper {
	/*background: rgba(0,0,0,0.2) !important;*/
}
.commentPopover__username {
	color: #fff !important;
}
.sound__body .commentPopover__body {
	color: #aaa !important;
}

.fullHero__waveform .commentPopover__body {
	color: #ddd !important;
}

.userItem:hover, .queue__itemWrapper, .queue__scrollableInner {
	background: #111 !important;
}

.queue__scrollable {
	background: #000 !important;
}
.queue__panel, .queueFallback__stationMode, .queue__itemView:hover, .m-dimmed:hover {
	background: #222 !important;
}
.m-active, .sc-media .active {
	background: #333 !important;
}


/* upload + edit */
.uploadMain__chooserContainer, .uploadMain__foot, .soundEditTabs, .activeUpload__form, .audibleEditForm__form, .uploadSuccessSharing, .activeUpload__shareContainer, .audibleEditForm__audio {
	background: #222 !important;
}

.ui-datepicker-div, .sc-licence-icon::after {
	filter: invert(100%);
	color: #222 !important;
}
.dropdownMenu {
	background: #333 !important;
	
}

.trackManager__upsellWrapper, .select__select, .audibleEditForm__foot {
	background: #111 !important;
	color: #aaa !important;
}
.soundBadge:hover, .soundBadge.hover, .soundBadge.selected {
	background: #333 !important;
	border-color: #aaa !important;
}
.soundBadge__extra, .soundBadge__additional, .createPlaylistSuggestion__addContainer {
	background: transparent !important;
}

.userAudibleSearch {
	background: #222 !important;
	color: #aaa !important;
}

.editTrackModalButton {
	background: #222 !important;
	color: #aaa !important;
}
.editTrackModalButton:hover {
	background: #555 !important;
}


/* messages */
.conversation__actions, .inboxItem.active, .inboxItem:hover {
	background: #222 !important;
}
.conversationMessage:hover {
	background: #111 !important;
}


/* blog */
.hfeed, .sc-aux-container, .g-circle-player a, .sc-header-wipeout {
	background: #111 !important;
}
.footer, .sc-aux-footer {
	background: #222 !important;
}


/* minor pages */
.g-upsell-container, .sidebarInfoBox__body, .container, .topStatsModule__header, .topStatsModule__upsell, .statsOverview__separator, .topStats__wrapper:hover, .l-top, #main-wrapper, .sessions__formContainer, .authorize-token, .uploadLoggedOut__testimonials, .uploadLoggedOut__testimonialListItem, .premiumContent__block:hover, .premiumContent__twoColumnBlock.sc-media:hover {
	background: #111 !important;
	color: #ddd !important;
}

.sc-button-facebook::before, .sc-button-google::before {
	filter: invert(0%);
}

.topStatsItemPlaceholder__text::before, .topStatsItemPlaceholder__text::after, .fullListenHero, .dashbox__box, .gritter-item, .uploadLoggedOut__buttonLearnMore {
	background: #000 !important;
}

.rainbow, .moreActions__button::before, .sc-ministats-sounds::before, .searchOptions__navigationLink img, .compactTrackListItem__additional, .reportCopyright::before {
	filter: invert(100%);
}
code {
	color: #ddd !important;
	border-color: #aaa !important;
}

kbd.sc-font {
	background: #111 !important;
}

.article-vote, .gritter-item, #main-wrapper-inner {
	color: #ddd !important;
}

.blockCheckbox__title {
	color: #ddd !important;
}
.blockCheckbox__blockContent .showChecked {
	color: #aaa !important;
}

.hintButton {
	background: #f30 !important;
	color: #222 !important;
}

.reportCopyright {
	background: transparent !important;
}

.sc-button-active, .sc-button-selected {
	color: #f30 !important;
	border-color: #f30 !important;
}